@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Rubik+Pixels&display=swap');

body
{
    background-color: rgb(30, 30, 30);
}

.heading
{
    text-align: center;
    font-family: 'Rubik Pixels', cursive;
    font-size: 2rem;
}

.main-heading
{
    color: whitesmoke;
}

.main
{
    border: 3px solid darkslateblue;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(40, 40, 40);
}

.main div
{
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 1rem auto;
}

#red
{
    border-color: red;
}

#green
{
    border-color: green;
}

#blue
{
    border-color: blue;
}

.copywright
{
    text-align: center; color: whitesmoke;
    font-family: 'Faster One', cursive;
    font-size: 2rem;
}